editor/app/dist/*
editor/app/node_modules/*
editor/app/src-tauri/target/*
dist/*
editor/app/tests/visual-current/*
editor/app/tests/visual-diff/*
.DS_Store
build/*
runtime/door_core/target/debug/*
.trash/*
.pnpm-store/*
